*{
    padding: 0;
    margin: 0;
}
body{
    font-family:Arial, Helvetica, sans-serif;
    padding:30px;
}
.box{
    display:flex;
    gap:10px;
    margin-bottom: 20px;
}
.search-box {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}
.search-box input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
button{
    padding:10px 15px;
    cursor:pointer;

}
li{
    display:flex;
    justify-content: space-between;
    align-items:center;
    margin-bottom:10px;
    padding:10px;
    border:2px solid #ccc;
    border-radius:4px;
}
.delete-btn{
    background-color:#f44336;
    color:white;
    border:none;
    padding:5px 10px;
    cursor:pointer;
    border-radius:4px;
}
.delete-btn:hover{
    background-color: #f44336;
}
