*{
    padding: 0;
    margin: 0;
}
body{
    font-family:Arial, Helvetica, sans-serif;
    padding:30px;
}
.box{
    display:flex;
    gap:10px;
    margin-bottom: 250px;
}
button{
    padding:10px 15px;
    cursor:pointer;

}